<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <title>Quizzes</title>
</head>
<body>
<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/home">Including Everyone!</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/lectures">Lectures</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/quizzes">Quizzes</a>
          </li>
        </ul>
        <div style="margin-left: auto">
        <p>You are logged in as {{ user.first.username }}</p>
    </div>
      </div>
    </nav>
</div>
<h1 class="text-center">Quizzes</h1>
<div class="container">
    <div class="row row-cols-3">
        {% for q in quizzes %}
                  <div class="col">
                    <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">{{ q.name }}</h5>
                          <p class="card-text">You are ready to take the quiz for lecture {{ q.related_lecture }}!</p>
                          <a href="/quiz" class="btn btn-primary">Start</a>
                        </div>
                    </div>
                  </div>
        {% endfor %}
    </div>
</div>
</body>
</html>